body{
    width:100%;
}
.submit_form{
    width:600px;
    height:600px;
    margin-top:25%;
    margin-left:25%;
}
.colmd{
    display:flex;
    flex-wrap:nowrap;
    width:100%;
}
.inp1{
    flex-basis:45%;
    margin-left:7%;
}
.inp2{
    flex-basis:40%;
    margin-left:8%
}
h2{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}
.mb-3{
    margin-left:20%;
    margin-top:5%;
}
.form-control{
    width:400px;
    margin-bottom:3%;
}
.col-md-1{
    margin-top:5%;
    margin-left:30%;
    width:600px;
    height:600px;
}
.col-md-1 .btn{ 
    margin-left:30%;
}
.mb{
    margin-left:20%;
    margin-bottom:5%;
    width:400px;
}
.col{
    width:220px;
    height:200px;
    margin-top:5%;
    margin-right:3%;
}
.col-6 {
    max-width:60%;
}
.doc h2{
    text-align: left;
    font-size:40px;
    margin-top:0%;
    margin-bottom:0%;
    color:rgb(59, 199, 194);
}
.patient h2{
    text-align: left;
    font-size:40px;
    margin-top:0%;
    margin-bottom:0%;
    color:rgb(233, 167, 67);
}
.btn{
    margin-top:5%;
}
.appointment h2{
    text-align: left;
    font-size:40px;
    margin-top:0%;
    margin-bottom:0%;
    color:rgb(70, 88, 248);
}
.doc h3{
    margin-left: 8%;
    margin-top: 0%;
    color:rgb(59, 199, 194);
    font-size:32px;
}
.patient h3{
    margin-left: 8%;
    margin-top: 0%;
    color:rgb(233, 167, 67);
    font-size:30px;
}
.appointment h3{
    margin-left: 8%;
    margin-top: 0%;
    color:rgb(70, 88, 248);
    font-size:24px;
}
img{
    margin-top: 8%;
    margin-left:70%;
}
.doc{
    margin-left:3%;
    background-color: rgb(148, 249, 215);
}
.patient{
    background-color: rgb(248, 205, 127);
}
.appointment{
    background-color: rgb(158, 191, 244);
}
.col a{
    margin-top:10%;
}
.container1{
    display:flex;
    flex-wrap: nowrap;
    width:100%;
    margin-left: 2%;
    margin-right:2%;
    padding: 0;
}
.doctor{
    flex-basis: 45%;
    margin-right:2%;
    width:500px;
}
.appoint{
    flex-basis: 45%;
    margin-left:4%;
    width:500px;
}
.ap span{
   font-family: sans-serif;
    text-align: justify;
}
.ap span-right{
    margin-left:10%;
}
.mt-5{
    margin-left:3%;
    margin-right:3%;
}
