{% extends 'main.html' %}
{% block body%} 
{% if update %}
    <div class="col-md-3" >
        <div class="submit_form">
            <h2>Edit Vehicle </h2>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
                <label for="veh_registration_no" class="form-label">Vehicle Registration Number</label>
                <input type="hidden" class="form-control" id="veh_registration_no" name="veh_registration_no" value="{{vehicle.veh_registration_no}}">
            </div>
            <div class="mb-3">
                <label for="veh_model" class="form-label">Vehicle Model</label>
                <input type="hidden" class="form-control" id="veh_model" name="veh_model" value="{{vehicle.veh_model}}" >
            </div>
            <div class="mb-3">
                <label for="owner" class="form-label">Owner Name </label>
                <input type="text" class="form-control" id="owner" name="owner" value="{{vehicle.owner}}">
            </div>
            <div class="mb-3">
                <label for="contact">Owner contact </label><br>
                <input type="text" class="form-control" id="contact" name="contact" value="{{vehicle.contact}}">
            </div>
            <div class="mb-3">
                <label for="vehicle_category">Vehicle Type</label>
                <input type="hidden" class="form-control" id="vehicle_category" name="vehicle_category" value="{{vehicle.vehicle_category}}">
            </div>
            <div class="mb-3">
                <label for="remark"> Remark</label><br>
                <textarea id="remark" class="form-control" name="remark" rows='2'>{{vehicle.remark}}</textarea>
            </div>
            <div class="mb-3">
                <input type="hidden" class="form-check-input" id="parked" {% if vehicle.parked %}checked{% endif %} >
                <label class="form-check-label" for="parked">Parked</label>
              </div>
            <center>
                <button type="submit" class="btn bg-primary-subtle">Edit Vehicle</button>
            </center>
        </form>
        </div>
    </div>
{% else %}
<div class="col-md-3" >
    <div class="submit_form">
        <h2>Add Vehicle </h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="veh_registration_no" class="form-label">Vehicle Registration Number</label>
            <input type="text" class="form-control" id="veh_registration_no" name="veh_registration_no" >
        </div>
        <div class="mb-3">
            <label for="veh_model" class="form-label">Vehicle Model</label>
            <input type="text" class="form-control" id="veh_model" name="veh_model" >
        </div>
        <div class="mb-3">
            <label for="owner" class="form-label">Owner Name </label>
            <input type="text" class="form-control" id="owner" name="owner" >
        </div>
        <div class="mb-3">
            <label for="contact">Owner contact </label><br>
            <input type="text" class="form-control" id="contact" name="contact">
        </div>
        <div class="form-group">
            <label for="vehicle_category">Vehicle Type</label>
            <select class="form-control" id="vehicle_category" name="vehicle_category">
            <option value="4">Four-wheeler</option>
            <option value="3">Three-wheeler</option>
            <option value="2">Two-wheeler</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="remark"> Remark</label><br>
            <textarea id="remark" class="form-control" name="remark" rows='2'></textarea>
        </div>
        <div class="form-check">
            <input type="hidden" class="form-check-input" id="parked" name="parked" value=False >
            <label class="form-check-label" for="is_available">Is Parked</label>
          </div>
        <center>
            <button type="submit" class="btn bg-primary-subtle">Add Vehicle</button>
        </center>
    </form>
    </div>
</div>
{% endif %}
{% endblock body %}