{% extends 'main.html' %}
{% block body %}
<div class="image">
    <div class="popup"style= "width:500px"> 
        <a href="{% url 'login' %}" style="margin-top:4%; float:right; margin-bottom:2%; color: rgb(135, 170, 222); font-size:18px;" >Go Back</a>
        <h3 class="h3 mb-3 fw-normal">Forget Password</h3>  
    <form method="post" action="">
        {% csrf_token %}  
    <div class="form-element">
        <label for="user" >Username</label>
        <input type="text" class="form-control" id="user" name="user">
    </div>
    <div class="form-element">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass"name="pass">
    </div>
    <div class="form-element">
        <label for="confirm">Confirm Password</label>
        <input type="password" class="form-control" id="confirm" name="confirm">
    </div>
    <button class="btn btn-primary w-100 py-2 bt" type="submit">Change Password</button>
    </form>
</div>
</div>
{% endblock body%}