{% extends 'main.html' %}
{%block body%} 
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
<div class="containers" >
<div class="container">
{% if user.is_authenticated and not user.is_Staff%}<h2>My Vehicles List</h2>
{% elif user.is_authenticated and user.is_Staff %}<h2>Manage Vehicles</h2>
{% endif %}
<br><br>
<table class="table table-striped table-bordered table-sm" id="dtBasicExample">
    <thead>
        <tr>
            <th class="th-sm">Vehicle Id</th>
            <th class="th-sm">Vehicle Registration No</th>
            <th class="th-sm">Owner Name</th>
            <th class="th-sm">Is Parked</th>
            <th class="th-sm">Vehicle Type</th>
            <th class="th-sm">Update</th>
            <th class="th-sm">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for v in vehicles %}
        <tr>
            <td>{{v.id}}</td>
            <td><a href="{% url 'vehicledetail' v.id %}">{{v.veh_registration_no}}</a></td>
            <td>{{v.owner}}</td>
            <td>{{v.parked}}</td>
            <td>{{v.vehicle_category}}</td>
            <td><a href="{% url 'updatevehicle' v.id %}" class="btn btn-secondary"> Update</a></td>
            <td><a href="{% url 'deletevehicle' v.id %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger"> Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
<script>
$(document).ready(function () {
    $('#dtBasicExample').DataTable({
      "pagingType": "simple"
    });
    $('.dataTables_length').addClass('bs-select');
})
</script>
{% endblock body %}
