{% extends 'main.html' %}
{%block body%} 
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
<div class="container">
{% if user.is_authenticated and user.is_Staff%}<h2>Users List</h2>
{% endif %}
<br><br>
<table class="table table-striped table-bordered table-sm" id="dtBasicExample">
    <thead>
        <tr>
            <th class="th-sm">User Id</th>
            <th class="th-sm">Username</th>
            <th class="th-sm">User Firstname</th>
            <th class="th-sm">User Lastname</th>
            <th class="th-sm">User email</th>
            <th class="th-sm">Is Staff</th>
            <th class="th-sm">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.first_name}}</td>
            <td>{{u.last_name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.is_staff}}</td>
            <td><a href="{% url 'deleteuser' u.id %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger"> Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
$(document).ready(function () {
    $('#dtBasicExample').DataTable({
      "pagingType": "simple"
    });
    $('.dataTables_length').addClass('bs-select');
})
</script>
{% endblock body %}